<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/438ae8f4-1ba8-41b5-9e14-41c57c881e09/resourceGroups/resources/providers/Microsoft.Web/sites/foodservices</ResourceId>
    <ResourceGroup>resources</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://foodservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e064a4c3-7c58-4865-9631-27599638151e</ProjectGuid>
    <PublishUrl>https://foodservices.scm.azurewebsites.net/</PublishUrl>
    <UserName>$foodservices</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>